[flake8]
max-line-length = 88
extend-ignore = E203, W503, E501, F401
select = C,E,F,W,B,B950
per-file-ignores =
    tests/*: D,S101
exclude =
    .git,__pycache__,.venv,.mypy_cache,.ruff_cache,build,dist,
    project/artifacts,project/data,data,mlruns,minio,
    project/research,notebooks
