aiofiles
alembic
asyncmy
bcrypt
cachetools
fastapi
fastapi-pagination
greenlet
loguru
msgspec
openai
passlib
pydantic
pydantic-extra-types
pydantic-settings
python-dotenv
python-jose
python-multipart
sqlalchemy
uvicorn
